<div class="container text-white">
    <h1 class="text-center mt-2">Grupos</h1>
    
    <h2><i class="fas fa-filter"></i> Filtros</h2>

    <filter-select-component
        first-item =  "'Por Seção'"
        items = "vm.itemsSecoes"
        function = "vm.filtrarPorSecao"
    ></filter-select-component>

    <filter-select-component
        first-item =  "'Por Divisão'"
        items = "vm.itemsDivisoes"
        function = "vm.filtrarPorDivisao"
    ></filter-select-component>

    <table-component
        list="vm.gruposList"
        header="['ID', 'Descrição']"
        fields="['id', 'descricao']"
    ></table-component>
</div>