<div
    class="container d-flex flex-column align-items-center justify-content-between pt-4 pb-4 h-100vh font-weight-normal">
    <div class="d-flex flex-column align-items-center ">
        <img class="mb-4" src="../images/logo-uniderp.png" width="200">
        <h5 class="text-white text-center ">Acadêmico: Thiago Augusto Gonçalves Silva</h5>
        <h5 class="text-white text-center">Desenvolvimento para Dispositivos Móveis</h5>
    </div>

    <h5 class="text-white text-center">Missão responsivo</h5>

    <div class="text-center d-flex align-items-center flex-column justify-content-center">
        <p class="text-white m-0">Campo Grande - MS</p>
        <p class="text-white m-0">2020</p>
    </div>
</div>