<div class="container text-white">
    <h1 class="text-center mt-2">Seções</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered rounded bg-dark-blue text-white">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Id</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="secao in vm.secoesList">
                    <td class="text-center">{{secao.id}}</td>
                    <td>{{secao.descricao}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>