<div class="container">
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center" scope="col">Id</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td>AGRICULTURA, PECUÁRIA, PRODUÇÃO FLORESTAL, PESCA E AQÜICULTURA</td>
                </tr>
                <tr>
                    <td class="text-center">2</td>
                    <td>INDÚSTRIAS DE TRANSFORMAÇÃO</td>
                </tr>
                <tr>
                    <td class="text-center">3</td>
                    <td>ÁGUA, ESGOTO, ATIVIDADES DE GESTÃO DE RESÍDUOS E DESCONTAMINAÇÃO</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>