<nav id="sidebarMenu"
  class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse position-fixed h-100 bg-dark border-right border-secondary">
  <div class="sidebar-sticky pt-3">
    <h6 class="sidebar-heading d-flex justify-content-center mb-3 align-items-center px-3 mt-4 mb-1 text-white">
      <span class="text-uppercase">menu</span>
      <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
      </a>
    </h6>
    <ul class="nav flex-column ">
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/')}} text-white" href="#!/home">
          <span data-feather="file"></span>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/divisoes')}} text-white" href="#!/divisoes">
          <span data-feather="file"></span>
          Divisões
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/secoes')}} text-white" href="#!/secoes">
          <span data-feather="shopping-cart"></span>
          Secões
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/grupos')}} text-white" href="#!/grupos">
          <span data-feather="users"></span>
          Grupos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/classes')}} text-white" href="#!/classes">
          <span data-feather="users"></span>
          Classes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link {{vm.isSelected('/subclasses')}} text-white" href="#!/subclasses">
          <span data-feather="users"></span>
          Subclasses
        </a>
      </li>
    </ul>
  </div>
</nav>