<div class="table-responsive mt-4">
    <table class="table table-bordered rounded bg-dark-blue text-white">
        <thead>
            <tr>
                <th scope="col" ng-repeat="title in vm.header">{{title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="item in vm.list | orderBy: 'descricao' | itemsPerPage: 10">
                <td ng-repeat="field in vm.fields">{{item[field]}}</td>
            </tr>
        </tbody>
    </table>
    <dir-pagination-controls></dir-pagination-controls>
</div>